{% extends 'feedapp/base.html' %}
{% load humanize %}
{% block title %}Home{% endblock %}
{% block main_title %}Public Feed{% endblock %}
{% block sub_title %}Leave a message for everyone to see!{% endblock %}
{% block content %}

  {% for post in posts %}
    <article class="media mt-5">
        {% if user.is_authenticated %}
            <a href="{% url 'delete_post' post.id %}" class="delete"></a>

        {% endif %}
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ post.user.first_name }} {{ post.user.last_name }}</strong>
            <small>{{ post.date_posted|naturaltime }}</small>
            <br>
            {{ post.text }}
          </p>
        </div>
      </div>
        <div align="right">
            <a href="{% url 'report_post' post.id %}"><span class="tag is-warning">report</span></a>
        </div>
   </article>
  {% endfor %}

{% if user.is_authenticated %}
<form method="POST" style="margin-top: 1.3em;">
    {{ form }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
</form>
{% else %}

{% endif %}
{% endblock %}